DB_USER=postgres
POSTGRES_DB=teslodb
POSTGRES_PASSWORD=123456
POSTGRES_PORT=5432

DATABASE_URL="postgresql://postgres:123456@localhost:5432/teslodb?schema=public"

# openssl rand -base64 32
AUTH_SECRET=""

# PayPal
# https://developer.paypal.com/dashboard
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_SECRET=